@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&family=Moon+Dance&family=Poppins:wght@400;500;600;700&family=Yeseva+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Fira Code', monospace;
    background-color: #00bfff12;
}

p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    line-height: 1.5;
    letter-spacing: .5px;
    color: #1e1e1e;
}
a{
    text-decoration: none;
}
span{
    color: #10a978;
}
.container{
    width: 100%;
    padding: 0 30px;
}
.row{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 90px;
}

.button{
    margin-bottom: 25px;
}
.button a{
    padding: 12px 35px;
    color: #fff;
    background-color: #31c48d;
    border-radius: 5px;
    display: inline-block;
}

.section_header h1{
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    color: #1c1c1c;
    letter-spacing: 1px;
    padding: 20px 0 50px;
}
#home_info{
    flex-basis: 50%;
    margin-top: 50px;
    padding: 0 30px;
}
#home_heading{
    position: relative;
    padding-left: 15px;
    border: none;
}
#home_heading::before{
    content: '';
    position: absolute;
    height: 85%;
    width: 5px;
    background-color: #1e9ec9;
    border-radius: 5px;
    top: 0;
    left: 0;
    transform: translateY(10%);
}
#home_heading h1{
    font-family: 'Yeseva One', cursive;
    font-size: 56px;
    font-weight: 400;
    color: #303030;
}
.inner {
    margin: 25px 0;
    width: 95%;
}
div#home_page_image {
    flex-basis: 40%;
    margin-bottom: 50px;
    display: inline-flex;
}

div#home_page_image img {
    width: 90%;
    margin: auto;
}



/* My Mission Section start */


.my_mission_div {
    flex-basis: 30.5%;
    padding: 30px;
    border-radius: 25px;
}

.my_mission_div img {
    width: 40%;
}

.my_mission_div h3 {
    font-family: 'Poppins', sans-serif;
    color: #1e1e1e;
    font-size: 20px;
    padding: 12px 0;
}
.pink{
    background-color: #ff008a17;
}
.green{
    background-color: #00800026;
}
.blue{
    background-color: #00bfff1c;
}
.row_two{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 50px 70px;
}
.blog_image {
    flex-basis: 36%;
    padding: 25px;
    display: inline-flex;
}

.blog_image img {
    width: 100%;
    transition: 400ms;
}
.blog_image img:hover{
    transform: scale(1.1);
}

.coding_div {
    flex-basis: 59%;
    padding: 30px 50px;
}

h2.coding_header {
    font-family: 'Poppins', sans-serif;
    font-size: 37px;
    margin-bottom: 20px;
    color: #303030;
}
span.black_color {
    display: block;
    color: #303030;
}


/* contact Section start */



section#contact {
    margin-top: 50px;
    width: 100%;
}
#container_row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #a3b5a81c;
}
div#contact_image {
    width: 40%;
    height: 700px;
    background: url(http://html.tonatheme.com/2020/Danbury/images/resource/appointment.jpg);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: top;
}
div#message h3 {
    position: relative;
    display: inline-block;
    font-family: 'Moon Dance', cursive;
    color: #31c48d;
    letter-spacing: 1px;
    font-size: 24px;
    margin-left: 55px;
}

div#message {
    position: relative;
}
div#message::before {
    content: '';
    position: absolute;
    width: 45px;
    height: 2px;
    background: #31c48d;
    left: 0;
    top: 16px;
}


div#contact_div {
    padding: 0 50px 0 20px;
    flex-basis: 55%;
}

div#contact_div h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #1c1c1c;
    font-weight: 100;
    line-height: 1.1;
    margin: 10px 0 30px;
}

div#contact_div span {
    display: block;
    color: #303030;
    font-weight: 600;
}
form input {
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    padding: 20px 15px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    font-family: 'Fira Code', monospace;
    font-size: 15px;
}
div#name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

input.name {
    width: 48%;
}

textarea#textarea {
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    font-family: 'Fira Code', monospace;
    font-size: 15px;
}
#submit_button {
    padding: 12px 55px;
    font-family: 'Fira Code', monospace;
    color: #fff;
    background-color: #31c48d;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
}




/* contact Section end */



/* footer section start */



footer#footer {
    background-color: #1c1c1c;
    width: 100%;
    text-align: center;
    padding: 50px 0 20px;
}

div#mission h1 {
    color: #fff;
    font-family: 'Moon Dance', cursive;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

div#mission p {
    color: #fff;
    font-family: 'Fira Code', monospace;
}



/* footer section end */